{{>layout/header}}
<h1>테스트용 게시판~~</h1>
<div id="col-md-12">
    <div id="row">
        <div id="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>
        </div>
    </div>
</div>

{{>layout/footer}}